// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    background-color: #bbe1fa !important;
}
.extra{
    height: 100vh;
    background-color: white;
    padding: 0 !important;
}
.btn-outline-success{
    color: #007bff !important;
    border-color: #007bff !important;
    transition: 0.5s;
}
.btn-outline-success:hover{
    transition: 0.5s;
    color: white !important;
    background-color: #007bff !important;
}