// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-order-input{
    margin-left: auto !important;
    margin-right: auto !important;
}
.custom-table-orders{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}
